<div class="header-container">
  <div>
    <a> LOGO </a>
  </div>
  <div class="items-container">
    <div class="items">
      <a>Packages </a>
    </div>
    <div class="items">
      <a>Offers </a>
    </div>
    <div class="items">
      <a>Contact Us </a>
    </div>
    <div class="items">
      <a>Currency($) </a>
    </div>
    <div class="items">
      <a>Language(EN) </a>
    </div>
    <div class="items">
      <a>Sign In </a>
    </div>
    <div class="items">
      <a>Sign Up </a>
    </div>

  </div>

</div>
