<div class="header-container" >
  <div class="logo">
    <a href="#"> LOGO </a>
  </div>
  <div class="items-container">
    <div class="items">
      <a href="#">Packages </a>
    </div>
    <div class="items">
      <a href="#">Offers </a>
    </div>
    <div class="items">
      <a href="#">Contact Us </a>
    </div>
    <div class="items">
      <a href="#">Currency($) </a>
    </div>
    <div class="items">
      <a href="#">Language(EN) </a>
    </div>
    <div class="items">
      <a href="#">Sign In </a>
    </div>
    <div class="items">
      <a href="#">Sign Up </a>
    </div>

  </div>

</div>

<section>
  <div >
    <a class="user" href="#"> Users</a>
  </div>
  <div>
     <a href="#" class="addUser">+ Add users</a>
  </div>
</section>

<div style="width: 90%; margin: auto;" class="overflow-auto">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Number</th>
        <th scope="col">Adress</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor=" let user of myUsers">
        <th scope="row">{{user.id}}</th>
        <td > <a routerLink="/users/{{user.id}}">  {{user.name}} </a></td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.address.city}}</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
    </tbody>
  </table>
</div>
