* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#menuToggle {
  display: block;
  position: relative;
  z-index: 1;
  user-select: none;
  -webkit-user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: #2c8be4;
}

#menuToggle input {
  display: none;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

/* a hamburger */
#menuToggle span {
  display: none;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

@media (max-width: 660px) {
  #menuToggle {
    height: 0;
  }
  #menuToggle input,
  #menuToggle span {
    display: block;
    top: 40px;
    left: 20px;
  }
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* all the slices of hamburger into a crossmark */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/* hide the middle one */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/* the last one should go the other direction */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  box-shadow: 8px 7px 10px 0px #2323233d;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
}

#menu .nav-cont {
  display: flex;
  gap: 25px;
}

#menu li {
  padding: 10px 0;
  font-size: 18px;
}

#menu .logo {
  padding: 0 0 0 50px;
  color: rgb(243, 168, 28);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 1.8em;
}

@media (max-width: 660px) {
  #menu {
    flex-direction: column;
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 150px 0 20px 30px;

    background: #fff;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(13%, -100%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu .nav-cont {
    flex-direction: column;
    gap: 25px;
  }

  /*
  * And let's slide it in from the left
  */
  #menuToggle input:checked ~ ul {
    transform: translate(13%, 0); /* display: inline; */
  }

  #menu .logo {
    padding: 0;
    font-weight: bold;
    font-size: 1em;
  }
}

@media (max-width: 950px) {
  #menu .nav-cont {
    gap: 10px;
  }

  #menu li {
    padding: 10px 0;
    font-size: 16px;
  }
}
