<div class="container">
  <div class="row">
    <h2>Welcome Back</h2>
    <form
      class="col-11 col-md-8 col-lg-6 m-auto mt-4 p-5 rounded-4 login-form"
      [formGroup]="userForm"
    >
      <div class="mb-3">
        <label for="inputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="inputEmail1"
          aria-describedby="emailHelp"
          formControlName="email"
        />
      </div>
      <div class="mb-3">
        <label for="inputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="inputPassword1"
          formControlName="password"
        />
      </div>
      <div class="log">
        <button type="submit" (click)="login()" class="btn btn-primary">
          Login
        </button>
        <p>New User ! <a href="register">Registrer</a> instead</p>
      </div>
      <div class="error" *ngIf="mySign()">
        Email or Password wrong Please insert valid Data
      </div>
    </form>
  </div>
</div>
