.inputContainer {
  flex-wrap: wrap;
  width: 75%;
  margin: auto;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-evenly;
}

input {
  flex-wrap: wrap;
  display: inline-block;
  border: none;
  border-bottom: 0.5px solid saddlebrown;
}
label {
  flex-wrap: wrap;
  display: inline-block;
}

#myForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.red {
  border: 1px solid red;
}

.formContainer {
  position: relative;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  width: 40%;
  min-height: 300px;
  border-radius: 8px;
  justify-content: center;
  background-color: #fff;
  margin-top: 70px;
  padding: 35px;
  z-index: 6;
}

.user-info {
  text-align: center;
  color: orange;
}

.exit {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid #eee;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px;
}
