<div class="user">
  <div class="container-fluid info text-white mb-3">
    <ul
      class="list-unstyled d-flex justify-content-center align-items-center p-3 m-0"
    >
      <li class="">John Doe</li>
      <li class="border-start border-end px-2 px-sm-4 mx-1 mx-sm-3 mx-md-5">
        johndoe@gmail.com <span class="d-block">+0123456789</span>
      </li>
      <li class="">
        Address <span class="d-block">33 Ahmed el Zomer Street</span>
      </li>
    </ul>
  </div>
  <!-- user albums  -->
  <div class="container">
    <h5 class="heading border-bottom text-center pb-2">John Doe's Albums</h5>
    <div class="albums row gap-row-4 mt-4">
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card mb-3 text-center text-uppercase border-0 rounded-0">
          <div class="card-header text-white fw-bold py-5 fs-6">Album 1</div>
          <div class="card-body py-2">
            <h5 class="card-title m-0 fs-6">15</h5>
            <p class="card-text text-black-50">Photos</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card mb-3 text-center text-uppercase border-0 rounded-0">
          <div class="card-header text-white fw-bold py-5 fs-6">Album 1</div>
          <div class="card-body py-2">
            <h5 class="card-title m-0 fs-6">15</h5>
            <p class="card-text text-black-50">Photos</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card mb-3 text-center text-uppercase border-0 rounded-0">
          <div class="card-header text-white fw-bold py-5 fs-6">Album 1</div>
          <div class="card-body py-2">
            <h5 class="card-title m-0 fs-6">15</h5>
            <p class="card-text text-black-50">Photos</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card mb-3 text-center text-uppercase border-0 rounded-0">
          <div class="card-header text-white fw-bold py-5 fs-6">Album 1</div>
          <div class="card-body py-2">
            <h5 class="card-title m-0 fs-6">15</h5>
            <p class="card-text text-black-50">Photos</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
