.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: azure;
  flex-direction: column;
}
.error h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  font-size: 6em;
}

.error h3 {
  font-size: 1.3em;
}

.info {
  background-color: #376aa6;
}
.heading {
  color: #e06c4f;
}
.albums .card {
  box-shadow: 0px 2px 2px 0px #2125297d;
  cursor: pointer;
  transition: 0.3s;
}
.albums .card:hover {
  transform: scale(1.05);
}
.albums .card-header {
  background-color: #e06c4f !important;
}
.albums .card-text {
  font-size: 10px !important;
}
