<div *ngIf="err" class="container mt-5 alert alert-warning">not found</div>
<div *ngIf="User" class="user">
  <!-- user unfo  -->
  <app-user-heading [user]="User"></app-user-heading>
  <!-- user albums  -->
  <div class="container" *ngIf="Albums?.length && AlbumsImages?.length">
    <h5 class="heading border-bottom text-center pb-2">
      {{ User.name }}'s Albums
    </h5>
    <div class="albums row gap-row-4 mt-4">
      <div
        *ngFor="let album of Albums; let i = index"
        class="col-12 col-sm-6 col-md-4"
        routerLink="album/{{ album.id }}"
        (click)="scroll(target)"
        for="#target"
      >
        <div class="card mb-3 text-center text-uppercase border-0 rounded-0">
          <div class="card-header text-white fw-bold py-5 fs-6">
            Album {{ album.id }}
          </div>
          <div class="card-body py-2">
            <h5 class="card-title m-0 fs-6">
              {{ AlbumsImages[User.id]?.data.length }}
            </h5>
            <p class="card-text text-black-50">Photos</p>
          </div>
        </div>
      </div>
    </div>
    <router-outlet #target></router-outlet>
  </div>
</div>
