<div *ngIf="User" class="user">
  <div class="container-fluid info text-white mb-3">
    <ul
      class="list-unstyled d-flex justify-content-center align-items-center p-3 m-0"
    >
      <li class="">{{ User.name }}</li>
      <li class="border-start border-end px-2 px-sm-4 mx-1 mx-sm-3 mx-md-5">
        {{ User.email }} <span class="d-block">{{ User.phone }}</span>
      </li>
      <li class="">
        Address <span class="d-block">{{ User.address.street }}</span>
      </li>
    </ul>
  </div>
  <!-- user albums  -->
  <div class="container" *ngIf="Albums.length">
    <h5 class="heading border-bottom text-center pb-2">
      {{ User.name }}'s Albums
    </h5>
    <div class="albums row gap-row-4 mt-4">
      <div
        *ngFor="let album of Albums; let i = index"
        class="col-12 col-sm-6 col-md-4" routerLink="/photos" [queryParams]="{ albumId:album.id,userId:ID}"
      >
        <div class="card mb-3 text-center text-uppercase border-0 rounded-0">
          <!-- https://jsonplaceholder.typicode.com/photos?albumId=2 -->
          <div class="card-header text-white fw-bold py-5 fs-6">
            Album {{ album.id }}
          </div>
          <div class="card-body py-2">
            <h5 class="card-title m-0 fs-6">{{ Albums.length }}</h5>
            <p class="card-text text-black-50">Photos</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
